@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding:0px;
  margin:0px;
  
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
}





